{% include "bootstrapcdn.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-flud p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mt-5 p-5 text-center">
                    <h2 class="text-info">Your Welcome!</h2>
                    <h5 class="text-info">Galgotias University</h5>
                </div>
                <div class="col-md-5 p-3">
                    <h3 class="m-5 text-info text-center">Admin Register</h3>
                    <form action="/Admin_save/" method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <input type="text" class="form-control" name="adminname" id="" placeholder="Enter Admin Name">
                        <div class="valid-feedback"></div>
                        <input type="text" class="form-control mt-3" name="adminid" id="" placeholder="Enter Admin ID">
                        <div class="valid-feedback"></div>
                        <input type="email" class="form-control mt-3" name="email" id="" placeholder="Enter Email">
                        <div class="valid-feedback"></div>
                        <input type="text" class="form-control mt-3" name="role" id="" placeholder="Enter Role ">
                        <div class="valid-feedback"></div>
                        <input type="password" name="password" id="password" class="form-control mt-3" placeholder="Enter Password.." required>
                                <div class="invalid-feedback">
                                    Please Enter valid password.
                                </div>
                        <button type="submit" class="btn bg-info text-white mt-3">Register</button>
                    </form>
                    <p>You have already Registered? <a href="/Admin_login">Go to</a></p>
                    <div class="p-3 mb-2 bg-info text-white text-center rounded border-2">Thank you!</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>