
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "bootstrapcdn.html" %}
</head>
<body>
    <div class="container bg-info">
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-primary" href="/Admin_register">admin</a>
                    </div>
                </div>
            </div> 
            <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary" href="/Admin_login">Admin_login</a>
                </div>
            </div>
            </div>
            <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary" href="/Teacher_login">Teacher_login</a>
                </div>
            </div>
            </div>
            <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary" href="/Student_login">Student_login</a>
                </div>
            </div>
            </div>
            <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary" href="/attendances">student</a>
                </div>
            </div> 
            </div>
        </div>
    </div>
</body>
</html>